.cabecalho {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;

}

.cabecalho .logo {
  width: 240px;
}

.cabecalho .menu {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin: 15px 0 20px;
  padding: auto;
}

.cabecalho nav li a {
  font-weight: bold;
  color: #000000;
  font-size: 25px;
  padding: 15px 20px;
  border-radius: 50px;
}

.cabecalho nav li a:hover {
  background-color: #d5011d;
}

.cabecalho .titulo-inicial {
  display: flex;
  font-size: 42px;
  justify-content: center;
  padding: 30px 0 50px;
}